In [40]:
import pandas as pd
import numpy as np

In [41]:
results_df=pd.read_csv('results.csv')

In [42]:
results_df

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14 00:00:00,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14 00:00:00,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14 00:00:00,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14 00:00:00,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14 00:00:00,Man City,Leeds,1,1,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10419,2019-20,2020-07-26 16:00:00,Leicester,Man United,0,2,A,0.0,0.0,D,...,3.0,3.0,3.0,3.0,12.0,11.0,1.0,4.0,1.0,0.0
10420,2019-20,2020-07-26 16:00:00,Man City,Norwich,5,0,H,2.0,0.0,H,...,10.0,4.0,9.0,0.0,7.0,4.0,1.0,1.0,0.0,0.0
10421,2019-20,2020-07-26 16:00:00,Newcastle,Liverpool,1,3,A,1.0,1.0,D,...,2.0,6.0,2.0,4.0,11.0,5.0,1.0,0.0,0.0,0.0
10422,2019-20,2020-07-26 16:00:00,Southampton,Sheffield United,3,1,H,0.0,1.0,A,...,4.0,3.0,9.0,1.0,9.0,16.0,0.0,1.0,0.0,0.0
10423,2019-20,2020-07-26 16:00:00,West Ham,Aston Villa,1,1,D,0.0,0.0,D,...,1.0,4.0,0.0,7.0,16.0,13.0,2.0,1.0,0.0,0.0

In [43]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10424 entries, 0 to 10423
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Season    10424 non-null  object
 1   Date      10424 non-null  object
 2   HomeTeam  10424 non-null  object
 3   AwayTeam  10424 non-null  object
 4   FTHG      10424 non-null  int64
 5   FTAG      10424 non-null  int64
 6   FTR       10424 non-null  object
 7   HTHG      9500 non-null   float64
 8   HTAG      9500 non-null   float64
 9   HTR       9500 non-null   object
 10  Referee   7600 non-null   object
 11  HS        7600 non-null   float64
 12  AS        7600 non-null   float64
 13  HST       7600 non-null   float64
 14  AST       7600 non-null   float64
 15  HC        7600 non-null   float64
 16  AC        7600 non-null   float64
 17  HF        7600 non-null   float64
 18  AF        7600 non-null   float64
 19  HY        7600 non-null   float64
 20  AY        7600 non-null   float64
 21  HR        7600 non-null   float64
 22  AR        7600 non-null   float64
dtypes: float64(14), int64(2), object(7)
memory usage: 1.8+ MB

- FTHG: Full Time Home Team Goals
- FTAG: Full Time Away Team Goals
- FTR: Full Time Result (H=Home Win, D=Draw, A=Away Win)
- HTHG: Half Time Home Team Goals
- HTAG: Half Time Away Team Goals
- HTR: Half Time Result (H=Home Win, D=Draw, A=Away Win)
- Referee: Match Referee
- HS: Home Team Shots
- AS: Away Team Shots
- HST: Home Team Shots on Target
- AST: Away Team Shots on Target
- HC: Home Team Corners
- AC: Away Team Corners
- HF: Home Team Fouls Committed
- AF: Away Team Fouls Committed
- HY: Home Team Yellow Cards
- AY: Away Team Yellow Cards
- HR: Home Team Red Cards
- AR: Away Team Red Cards

## Khám phá dữ liệu

### Với mỗi cột có kiểu dữ liệu dạng numberic, các giá trị được phân bố như thế nào?

- các cột datetime sẽ vào nhóm numberic.Có 17 cột thuộc nhóm numberic Date,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR

In [44]:
issing_scale = round(results_df[['Date','FTHG','FTAG','HTHG','HTAG','HS','AS','HST','AST','HC','AC','HF','AF','HY','AY','HR','AR']]\
                            .isnull().sum()*100/len(results_df),2)

Min = results_df[['Date','FTHG','FTAG','HTHG','HTAG','HS','AS','HST','AST','HC','AC','HF','AF','HY','AY','HR','AR']].min()
Max = results_df[['Date','FTHG','FTAG','HTHG','HTAG','HS','AS','HST','AST','HC','AC','HF','AF','HY','AY','HR','AR']].max()
nume_col_profiles_df = pd.DataFrame([missing_scale,Min,Max],columns=['Date','FTHG','FTAG','HTHG','HTAG','HS','AS','HST'\
                                                                     ,'AST','HC','AC','HF','AF','HY','AY','HR','AR'],\
                                    index=['missing_scale', 'min','max'])

In [45]:
nume_col_profiles_df

,Date,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
missing_scale,0.0,0.0,0.0,8.86416,8.86416,27.091328,27.091328,27.091328,27.091328,27.091328,27.091328,27.091328,27.091328,27.091328,27.091328,27.091328,27.091328
min,1993-08-14 00:00:00,0.0,0.0,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2020-07-26 16:00:00,9.0,9.0,5.00000,5.00000,43.000000,30.000000,24.000000,20.000000,20.000000,19.000000,33.000000,29.000000,7.000000,9.000000,3.000000,2.000000

### Với mỗi cột có kiểu dữ liệu dạng categorical, các giá trị được phân bố như thế nào?

- Có 6 cột thuộc nhóm categorical Season,HomeTeam,AwayTeam,FTR,HTR,Referee

In [47]:
missing_ratio = results_df[['Season','HomeTeam','AwayTeam','FTR','HTR','Referee']].\
                isnull().sum()*100/len(results_df)

num_diff_vals=results_df[['Season','HomeTeam','AwayTeam','FTR','HTR','Referee']].nunique()

In [49]:
cate_col_profiles_df = pd.DataFrame([missing_ratio,num_diff_vals],\
                                    columns=['Season','HomeTeam','AwayTeam','FTR','HTR','Referee'],\
                                    index=['missing_ratio','num_diff_vals'])
cate_col_profiles_df

               Season  HomeTeam  AwayTeam  FTR      HTR     Referee
missing_ratio     0.0       0.0       0.0  0.0  8.86416   27.091328
num_diff_vals    27.0      49.0      49.0  3.0  3.00000  169.000000

In [51]:
season=results_df['Season'].dropna().unique()
hometeam=results_df['HomeTeam'].dropna().unique()
awayteam=results_df['AwayTeam'].dropna().unique()
fullTime=results_df['FTR'].dropna().unique()
haft=results_df['HTR'].dropna().unique()
referee=results_df['Referee'].dropna().unique()

diff_vals=pd.Series([season,hometeam,awayteam,fullTime,haft,referee],\
                    index=['Season','HomeTeam','AwayTeam','FTR','HTR','Referee'])
diff_vals

Season      [1993-94, 1994-95, 1995-96, 1996-97, 1997-98, ...
HomeTeam    [Arsenal, Aston Villa, Chelsea, Liverpool, Man...
AwayTeam    [Coventry, QPR, Blackburn, Sheffield Weds, Lee...
FTR                                                 [A, H, D]
HTR                                                 [H, D, A]
Referee     [Rob Harris, Graham Barber, Barry Knight, Andy...
dtype: object